/* global post styles - mainly index */
.post
  position: relative
  margin-bottom: 15px
  +column-break-inside(avoid)

  figure
    margin: 0

  footer
    text-align: right

.post-title a
  color: #333

.post-read-more
  position: absolute
  top: 10px
  width: 100%
  text-align: center
  opacity: 0
  +transition( opacity, 200ms)
  a
    @extend .btn
    @extend .btn-primary

.post:hover .post-read-more
  opacity: 1

#single

.post-comments
  +column(12, true)
  margin-top: 3em

.post-comment
  padding: .5em 0
  figure
    +column(3)
    text-align: right

