.post
  position: relative
  margin-bottom: 15px
  +column-break-inside(avoid)

  figure
    margin: 0

  footer
    text-align: right

  .post-read-more
    position: absolute
    top: 10px
    width: 100%
    text-align: center
    opacity: 0
    +transition( opacity, 200ms)
    a
      @extend .btn
      @extend .btn-primary

  &:hover .post-read-more
    opacity: 1

.post-title a
  color: #333

#single
  .post
  footer
    float: right
    text-align: right
    margin-top: 1.5em
  .post-title

.post-comments
  +column(12, true)
  margin-top: 3em

.post-comment
  padding: .5em 0
  figure
    +column(3)
    text-align: right

