%div.columns_3
  - @posts.each do |post|
    %article.post
      %header
        %figure.post-image
          =image_tag 'logo.png'
        %h1.post-title Title,
      %p Body
      %footer time Author

